@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>Nestled amidst the highlands of Lipa and the panoramic view of nearby Tagaytay, Shercon Resort and Ecology Park is the ideal getaway to relax and liven up your senses.</p>
</div>